body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
}

.app {
  max-width: 800px;
  margin: 2rem auto;
  text-align: center;
}

.stop-resume {
  position: fixed;
  top: 20px;
  left: 20px;
  background-color: #2196f3;
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.stop-resume:hover {
  opacity: 0.8;
}

.profile {
  background-color: rgb(235, 230, 230);
  padding: 2rem;
  border-radius: 4px;
  border-top: 50px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

h2 {
  font-weight: bold;
  color: orange;
  text-transform: uppercase;
  margin-bottom: 0.5rem;
}

h3 {
  font-weight: normal;
  margin-bottom: 1rem;
  margin-top: 0;
}

p {
  color: rgb(153, 150, 150);
}

.arrow {
  background-color: #565656;
  color: white;
  font-size: 1.5rem;
  padding: 0.5rem 1rem;
  border: none;
  cursor: pointer;
}

.arrow {
  background-color: #565656;
  color: white;
  font-size: 1.5rem;
  padding: 0.5rem 1rem;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.arrow:hover {
  opacity: 0.8;
}

.left {
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
}

.right {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
}

img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 1rem;
}

footer {
  margin-top: 80px;
}
